# Binaries
backend/backend
backend/snippets.db
backend/snippets.*

# Node modules
node_modules/
frontend/node_modules/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Temp files
*.mojo
tmp/
frontend/dist/  